
/*ESTILOS GENERALES*/

:root{
    --color1:#601E66;
    --color2:#E28AEA;
    --color3:#D842E6;
    --color4:#A834B3;
    --color5:#392338;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
}


body{
    background-image: linear-gradient(to bottom right, var(--color5), var(--color2));
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

/*ESTILOS DE CABEZERA*/

.sup{
    background-color: black;
    text-align: center;
    color: aliceblue;
}

img{
    border-radius: 50%;
    border: 2px solid var(--color5);
    box-shadow: black    2px 1px;
}



.contacto:hover{
    border: 1px solid var(--color5);
}






/*grande*/
@media (min-width:1100px) and (max-width: 1800px){
    .cont-img{
        border-radius: 50%;
        align-self: center;
        margin: 0vw 0 0 1vw;
    }
    
    img{
        border-radius: 50%;
        width: 17vw;
    }
    
    .cont-header{
        display: flex;
        justify-content: space-between;
        margin: 1vw 0 6vw 0vw;
}
    
    .cont-nombre{
        align-self: center;
        padding-right: 10vw;
    }
    
    .cont-nombre h1{
        font-size: 5em;
    }
    
    .cont-nombre h3{
        text-align: center;
        font-size: 1.7em;
    }
    
    
    
    
    .contenedor-flex{
    
        display: flex;
        justify-content: space-around;
    }
    
    /*ESTILOS DE ASIDE*/
    
    
    aside{
        width: 40%;
        color: azure;
        margin: 5vw 0 0 0;
        font-size: 1.3em;
    }
    
    
    aside h3{
        text-align: center;
        
    }
    
    .cont-descri{
        padding: 2vw 3vw 0vw 1vw;
    }
    
    /* ESTILOS DEL ARTICULO*/
    
    article{

        display: flex;
        justify-content: space-between;
    
        margin: 3vw 0vw 0 0vw;
        color: #E28AEA;
    }

    section{
        margin-right: 3vw;
    }

    .tit-list{
        padding:.5vw 0 .5vw 1vw;
        background-color: #601E66;
        font-size: 1.6em;
        text-shadow: 2px 2px var(--color5);
    }
    
    .cont-list{
        margin: 0vw 0vw 0vw 0;
        background-color: #392338;
        padding: .1vw 0 2vw 0vw;
        box-shadow: inset 1px 1px var(--color2);
    }
    
    
    .list{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.4em;
    }
    
    .list li{
        margin-top: 2vw;
    }

    
    .fecha{
        text-align: end;
        font-size: .6em;
    }

    .cuadro-ref{
        display: none;
    }

    .ref-visible{
        display: block;
        border: 1px solid aliceblue;
        margin: 1vw 3vw 0 3vw 
    }

    .ref-visible h5{
        background-color: #A834B3;
    }


    /*  ESTILOS DE FOOTER*/


    footer{
        color: azure;
        margin: 4vw 0 1vw 0;
        font-size: 1.4em;
    
    }


    .cont{
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    
    }

    .cont li{
        padding-right: 2vw;
    }   


    .contacto{
        margin-right: 4vw;
        text-decoration: none;
        color: azure;
    }

}


/*MEDIANA*/
@media (min-width:900px) and (max-width: 1200px) {
    .cont-img{
        border-radius: 50%;
        align-self: center;
        margin: 0vw 0 0 1vw;
    }
    
    img{
        border-radius: 50%;
        width: 15vw;
    }
    
    .cont-header{
        display: flex;
        justify-content: space-between;
        margin: 1vw 0 0 0;
    }
    
    .cont-nombre{
        align-self: center;
        padding-right: 15vw;
    }
    
    .cont-nombre h1{
        font-size: 4.2em;
        text-align: center;
    }
    
    .cont-nombre h3{
        text-align: center;
        font-size: 1.7em;
    }
    
    
    
    
    .contenedor-flex{
        display: flex;
        justify-content: space-around;
    }
    
    /*ESTILOS DE ASIDE*/
    

    aside{
    
        width: 35%;
    
        color: azure;
        margin: 5vw 0 0 0;
        font-size: 1.3em;
    }
    
    
    aside h3{
        text-align: center;
        
    }
    
    .cont-descri{
        padding: 2vw 3vw 0vw 3vw;
    }
    
    /* ESTILOS DEL ARTICULO*/
    
    article{


    
        margin: 0vw 0vw 0 0vw;
        color: #E28AEA;
    }
    
    .tit-list{
        padding:.5vw 0 .5vw 1vw;
        background-color: #601E66;
        font-size: 1.3em;
        text-shadow: 2px 2px var(--color5);
    }
    
    .cont-list{
        margin: 0vw 0vw 0vw 3vw;
        background-color: #392338;
        padding: .1vw 0 2vw 0vw;
        box-shadow: inset 1px 1px var(--color2);
    }
    
    
    .list{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1em;
    }
    
    .list li{
        margin-top: 2vw;
    }


    footer{
        color: azure;
        margin-top: 3vw;
    }


    .cont{
        display: flex;
        justify-content: space-around;
    
    
    }

    


    .fecha{
        text-align: end;
        font-size: .6em;
    }

    .cuadro-ref{
        display: none;
    }

    .ref-visible{
        display: block;
        border: 1px solid aliceblue;
        margin: 1vw 5vw 0 7vw 
    }

    .ref-visible h5{
        background-color: #A834B3;
    }



    .contacto{
        /*margin-right: 4vw;*/
        text-decoration: none;
        color: azure;
    }


    
}

@media (min-width:500px) and (max-width: 900px){
    img{
        border-radius: 50%;
        width: 24vw;
    }
        
    .cont-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin: 1vw 0 0 0;
    }
        
    .cont-nombre{
        
        align-self: flex-end;
    
    }
        
    .cont-nombre h1{
        font-size: 4.2em;
        text-align: center;
    }
        
    .cont-nombre h3{
        text-align: center;
        font-size: 1.7em;
    }
        
        
        
        
    .contenedor-flex{
        display: flex;
        justify-content: space-around;
    }
        
    /*ESTILOS DE ASIDE*/
        
        
    aside{
        
        width: 50%;
        
        color: azure;
        margin: 5vw 0 0 0;
        font-size: 1.3em;
    }
        
        
    aside h3{
        text-align: center;
            
    }
        
    .cont-descri{
        padding: 2vw 3vw 0vw 3vw;
    }
        
    /* ESTILOS DEL ARTICULO*/
        
    article{


        /*background-color: #392338;*/
        margin: 3vw 1vw 0 0vw;
        color: #E28AEA;
    }
        
    .tit-list{
        padding:.5vw 0 .5vw 1vw;
        background-color: #601E66;
        font-size: 1.3em;
        text-shadow: 2px 2px var(--color5);
    }
        
    .cont-list{
        margin: 0vw 0vw 0vw 3vw;
        background-color: #392338;
        padding: .1vw 0 2vw 0vw;
        box-shadow: inset 1px 1px var(--color2);
    }
        
        
    .list{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1em;
    }
        
    .list li{
        margin-top: 2vw;
    }


    footer{
        background-color: #392338;
        color: azure;
        margin-top: 3vw;
        font-size: 1.07em;
    }


    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        
        
    }

    .cont li{
        padding-right: 5vw;
        margin-bottom: 1vw;
        text-align: center;
    }


    .contacto{
        margin-right: 2vw;

        text-decoration: none;
        color: azure;
    }

    .fecha{
        text-align: end;
        font-size: .6em;
    }

    .cuadro-ref{
        display: none;
    }

    .ref-visible{
        display: block;
        border: 1px solid aliceblue;
        margin: 1vw 5vw 0 5vw 
    }

    .ref-visible h5{
        background-color: #A834B3;
    }



}


/*CHICA*/
@media (max-width: 500px){
    .cont-header{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        margin: 6vw 0 0 0;
    }

    .cont-nombre{
        align-self: center;
    }
        
    .cont-nombre h1{
        text-align: center;
        font-size: 3em;
    }
        
    .cont-nombre h3{
        text-align: center;
    }



    .cont-img{
        border-radius: 50%;
        align-self: center;
        margin: 3vw 0 0 0;
    }


    /*ESTILOS DE ASIDE*/
    
    
    aside{
        color: azure;
        margin: 5vw 0 0 0;
        font-size: 1.3em;
    }
    
    
    aside h3{
        text-align: center;
        
    }
    
    .cont-descri{
        padding: 2vw 3vw 0vw 3vw;
    }

        
    /* ESTILOS DEL ARTICULO*/
    
    article{
    /*background-color: #392338;*/
        margin: 6vw 3vw 0 4vw;
        color: #E28AEA;
    }
    
    .tit-list{
        padding:.5vw 0 .5vw 1vw;
        background-color: #601E66;
        font-size: 1.6em;
        text-shadow: 2px 2px var(--color5);
    }
    
    .cont-list{
        margin: 0vw 0vw 0vw 10vw;
        background-color: #392338;
        padding: 4vw 0 2vw 0vw;
        box-shadow: inset 1px 1px var(--color2);
    }
    
    
    .list{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.2em;
    }
    
    .list li{
        margin-top: 3vw;
    }


    footer{
        color: azure;
        margin-top: 3vw;
    }
    
    .cont{
        margin-top: 4vw;
        display: flex;
        justify-content: space-around;
        font-size: 2em;
        }

    .cont li{
        padding-right: 5vw;
    }


    .contacto{
        display: none;
        color: azure;
    }


    .contacto-visible{
        display: inline;
        animation: aparecer 4s;
        font-size: .6em;
        text-decoration: none;
        color: #A834B3;
        
        
    }

    .bb:hover {
        background-color: azure;
        color: #601E66;
        border: 2px solid azure;
        box-shadow: #392338 1px 2px;
    }

    @keyframes aparecer {
        0% {
            opacity:0;
        }
        50%{
            opacity:0.5;
        }
        100% {
            opacity:1;
        }
    }
    .fecha{
        text-align: end;
        font-size: .6em;
    }

    .cuadro-ref{
        display: none;
    }

    .ref-visible{
        display: block;
        border: 1px solid aliceblue;
        margin: 1vw 3vw 0 3vw 
    }

    .ref-visible h5{
        background-color: #A834B3;
    }


        
        
        
    
    

}






